body{
    background-color: black;
}

#botao_principal{
    padding: 20px;
    border-radius: 20px;
    color: white;
    background-color: darkviolet;
}

#botao_principal:hover{
    transition: 2s;
    background-color: forestgreen;
}